@model BankProjekt.ViewModels.TransferCreateViewModel
@using BankProjekt.Models
@{
    ViewBag.Title = "Make Transfer";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function DefinedRecipient(name, number) {
        document.getElementById("ReceiversName").value = name;
        document.getElementById("ReceiversNumber").value = number;
        document.getElementById("ReceiversName").readOnly = true;
        document.getElementById("ReceiversNumber").readOnly = true;
        document.getElementById("DRset").value = "true";
    }

    $(document).ready(function () {
        $('#DRbutton').click(function () {
            $('#Recipients').toggle(300);
        });
    });
</script>
<h2>Make Transfer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input id="DRset" type="hidden" value="" />

        <div class="form-group ">
            @Html.Label("Defined recipients", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="button" id="DRbutton" class="form-control" value="Defined Recipients" />
            </div>
        </div>

        <table class="table table-striped table-hover" id="Recipients" style="display: none">

            <thead style="background-color: lightblue">
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                </tr>
            </thead>
            @foreach (var item in (List<DefinedRecipient>)ViewBag.DefinedRecipients)
            {
                <tr class="col-md-offset-7" onclick="DefinedRecipient('@item.ReceiversName','@item.ReceiversNumber')">
                    <td class="col-md-2" id="ReceiverN">@item.ReceiversName</td>
                    <td id="ReceiverNr">@item.ReceiversNumber</td>
                </tr>

            }
        </table>
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id, (IEnumerable<SelectListItem>)ViewBag.BankAccounts, null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReceiversName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReceiversName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReceiversName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReceiversNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReceiversNumber, new { htmlAttributes = new { @class = "form-control", type = "number"} })
                @Html.ValidationMessageFor(model => model.ReceiversNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cash, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cash, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cash, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}