@model IEnumerable<BankProjekt.Models.Transfer>
@{
    ViewBag.Title = "Index";
}

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>


    @using (Html.BeginForm())
    {
<p>
    Find by Title: @Html.TextBox("SearchString")

    Findy by Type: @Html.DropDownListFor()
    <input type="submit" value="Search" />
</p>
    }

    <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransferType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressesNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiversName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiversNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.ActionLink("Cash", "Index", new { sortOrder = ViewBag.CashSortParam })
            </th>
            <th>
                @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransferType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressesNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiversName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressesName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiversNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cash)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
