@model PagedList.IPagedList<BankProjekt.Models.Transfer>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Transakcje</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Transfers", FormMethod.Get))
{
<p>
    Find by Title: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
    <input type="submit" value="Search" />
</p>
}
<table class="table">
    <tr>
        <th>
            Type
        </th>
        <th>
            Addresses Number
        </th>
        <th>
            Receiver Name
        </th>
        <th>
            AddressesName
        </th>
        <th>
            Receivers Number
        </th>
        <th>
            Title
        </th>
        </th>
        <th>
            @Html.ActionLink("Cash", "Index", new { sortOrder = ViewBag.CashSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransferType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressesNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiversName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiversNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))