@model BankProjekt.Models.CreditProposal

@{
    ViewBag.Title = "Credit Proposal";
}

    <h2>Credit Proposal</h2>

<script>
    function myFunction() {
        var cash = document.getElementById("Cash");
        var months = document.getElementById("NumberOfMonths");
        var pom;
        pom = cash.value * 1.1;

        document.getElementById("totalPayment").value = pom.toFixed(2);
        document.getElementById("monthPayment").value = (pom / months.value).toFixed(2);
    }
</script>

@using (Html.BeginForm("Create", "CreditProposals", FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.BankAccountId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.BankAccountId, (IEnumerable<SelectListItem>)ViewBag.BankAccounts, null, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cash, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cash, new { htmlAttributes = new { @class = "form-control", onkeyup = "myFunction()" } })
            @Html.ValidationMessageFor(model => model.Cash, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NumberOfMonths, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NumberOfMonths, new { htmlAttributes = new { @class = "form-control", onkeyup = "myFunction()" } })
            @Html.ValidationMessageFor(model => model.NumberOfMonths, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Total Payment", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input class="form-control" type="text" id="totalPayment" readonly />
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Monthly Payment", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input class="form-control" type="text" id="monthPayment" readonly />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}