@model BankProjekt.Models.CreditProposal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Credit Proposal</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Cash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cash)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMonths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMonths)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.ProposalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposalStatus)
        </dd>
        <hr />
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>