@model BankProjekt.Models.CreditProposal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CreditProposal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profile.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMonths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMonths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            <img src="~/Pictures/@Html.DisplayFor(model => model.Picture)" alt="" height="50px" width="50px" />
            
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
