@model IEnumerable<BankProjekt.Models.CreditProposal>

@{
    ViewBag.Title = "Index";
}

<h2>Credit Proposals List</h2>

<table class="table table-striped">
    <thead style="background-color: lightblue">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfMonths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProposalStatus)
            </th>
            <th></th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Cash)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfMonths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProposalStatus)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
</table>