@model BankProjekt.Models.Credit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Credit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BankAccount.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoneyToPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoneyToPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyRepayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyRepayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMonthsLeft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMonthsLeft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMonths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMonths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Credit Payment", "CreditPayment", new { id = Model.Id }) |
    @Html.ActionLink("Total Credit Payment", "TotalCreditPayment", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>