<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

    <div  class=" menuColor navbar navbar-fixed-top" >
        <div   class="container">
            <div  class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Context.User.IsInRole("User"))
                {
                    @Html.ActionLink("Super Bank", "UserIndex", "Home", new { area = "" }, new { @class = "my-menu navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Super Bank", "Index", "Home", new { area = "" }, new { @class = "my-menu navbar-brand" })
                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Context.User.IsInRole("User"))
                    {
                        <li>@Html.ActionLink("Credits List", "Index", "Credits", null, new {@class = "my-menu"})</li>
                        <li>@Html.ActionLink("Credit Proposals List", "Index", "CreditProposals", null, new {@class = "my-menu"})</li>
                        <li>@Html.ActionLink("Credit Proposal", "Create", "CreditProposals", null, new {@class = "my-menu"})</li>
                        <li>@Html.ActionLink("Transfer", "Create", "Transfers", null, new {@class = "my-menu"})</li>
                        <li>@Html.ActionLink("Payment/PayOff", "PaymentAndPayOff", "Transfers", null, new {@class = "my-menu"})</li>
                        <li>@Html.ActionLink("History", "Index", "Transfers", null, new {@class = "my-menu"})</li>
                        <li>@Html.ActionLink("My Profile", "Index", "Profiles", null, new {@class = "my-menu"})</li>
                    }
                    @if (Context.User.IsInRole("Worker"))
                    {
                        <li>@Html.ActionLink("Credit Proposals", "CreditProposalsList", "Worker", null, new {@class = "my-menu"})</li>
                        <li>@Html.ActionLink("Profiles", "ProfilesList", "Worker", null, new {@class = "my-menu"})</li>
                    }
                    @if (Context.User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Credit Proposals", "CreditProposalsList", "Worker", null, new {@class = "my-menu"})</li>   
                        <li>@Html.ActionLink("Profiles", "Index", "Admin", null, new {@class = "my-menu"})</li>
                        <li>@Html.ActionLink("Add Worker", "Create", "Admin", null, new {@class = "my-menu"})</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>